* {
  margin: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: var(--magnolia)
}

:root {
  /* Paleta de cores (tirada de um website) */
  --persian-green: #1b998bff;
  --magnolia: #f8f1ffff;
  --thistle: #decdf5ff;
  --french-gray: #ADB5BD;
  --dim-gray: #656176ff;
  --davys-gray: #534d56ff;
  --onyx: #343A40;
  --eerie-black: #212529;
  --delete: #bb3535;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  margin-bottom: 10px;
  text-align: center;
}

.div-titulo {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  cursor: default;
}
.div-titulo h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 4px 6px rgba(0,0,0,0.6);
  border-bottom: 2px solid var(--magnolia);
}

body {
  padding: 40px;
  width: 100vw;
  height: 100vh;
  background: var(--persian-green);
  background: linear-gradient(0deg, #1b998b 0%, #1b998b 50%, #57c785 90%, #57c785 100%);
  overflow: hidden;
}

main {
  background-color: var(--dim-gray);
  max-width: 900px;
  height: auto;
  margin: auto;
  padding: 10px;

  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: nowrap;

  border-radius: 5px;
}
main > section {
  padding: 10px;
  width: 100%;
  max-width: 50%;
  height: 500px;
  border-radius: inherit;
  background-color: var(--davys-gray);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
  height: 100%;
}
::-webkit-scrollbar-track { /* a barra no fundo */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* o ponto da rolagem */
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: inherit;
  background-color: #757575;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #838383;
}
::-webkit-scrollbar-corner {
  display: none; /* Tirar o canto das scrollbars, onde elas se encontram*/
}

.main-content hr, .other-content hr {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--dim-gray);
  height: 2px;
  border-style: none;
  border-radius: inherit;
}

/* --- Forms --- */
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-send .input-text {
  transition: border-color 0.2s ease-in-out, color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}
.form-send .input-text:focus {
  color: var(--magnolia);
  transform: translateY(-2px);
  outline: none;
  border-color: var(--dim-gray);
  box-shadow: 0 3px 10px 3px rgba(0,0,0,0.2);
}
.form-send textarea {
  margin-top: 3px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 70px;
  height: 150px;
  max-height: 250px;
}
textarea {
  border: 3px solid;
  border-color: var(--onyx);
  border-radius: 5px;
  padding: 4px;
  color: var(--french-gray);
  background-color: var(--eerie-black);
  transition: border-color 0.2s ease-in-out, color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}
textarea:focus {
  color: var(--magnolia);
  transform: translateY(-2px);
  outline: none;
  border-color: var(--dim-gray);
  box-shadow: 0 3px 10px 3px rgba(0,0,0,0.2);
}
textarea:hover {
  color: var(--magnolia);
}

.mensagem-enviada {
  padding: 8px;
  height: auto;
  max-height: 200px;
  margin-top: 4px;
  border-radius: 5px;
  overflow-wrap: anywhere;
  overflow-y: scroll;
  color: var(--magnolia);
  background-color: var(--onyx);
}
.mensagem-enviada .assunto {
  font-size: large;
}
.mensagem-enviada .mensagem {
  color: var(--magnolia);
}

.input-text {
  margin-top: 3px;
  height: 35px;
  border: 3px solid;
  border-color: var(--onyx);
  border-radius: 5px;
  padding: 4px;
  color: var(--french-gray);
  background-color: var(--eerie-black);

  transition: border-color 0.2s ease-in-out, color 0.2s ease;
}
.input-text:focus {
  color: var(--magnolia);
  outline: none;
  border-color: var(--dim-gray);
}
.input-text:hover {
  color: var(--magnolia);
}

.button-div { /* A div do botão */
  margin-top: 3px;

  display: flex;
  justify-content: end;
  gap: 4px;
}
.button-div input, .reload-button { /* O input botao */
  min-width: 35px;
  width: auto;
  height: 35px;
  color: var(--magnolia);
  background-color: var(--onyx);
  border: 3px solid var(--eerie-black);
  border-radius: 5px;
  cursor: pointer;

  transition: border-color 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
}
.button-div input:hover, .reload-button:hover {
  transform: scale(1.04);
  background-color: var(--eerie-black);
  border-color: black;
}
.button-div input:active, .reload-button:active {
  transform: scale(1);
}
.button-div .update-button {
  background-color: #178073;
  border-color: #0d6359;
}
.button-div .update-button:hover {
  background-color: #0d6359;
  border-color: #093530;
}

/* --- Lista de contatos --- */
.user-list {
  margin-top: 3px;
  padding: 4px 0 4px 0;
  height: 73.6%;
  font-size: 0.9rem;
  
  border: 3px solid;
  border-color: var(--eerie-black);
  border-radius: 5px;
  
  background-color: var(--onyx);
  
  overflow: scroll;
}
.search-message small { /* "Mostrando resultados para..." */
  color: var(--french-gray);
  margin-left: 5px;
}
/* - Linha - */
.user-list .line {
  margin-top: 1px;
  margin-left: 5px;
  padding: 3px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: inherit;
  
  color: var(--french-gray);
  transition: background-color 0.1s ease;
}
/* .user-list .line:hover {
  background-color: #272b30;
} */
.user-name, .email {
  flex: 2;
  max-width: 100%;
  justify-self: flex-start;
  overflow: hidden;
}
/* Ações */
.actions {
  flex: 0;
  justify-self: flex-end;
  color: var(--french-gray);
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  cursor: pointer;
}
.actions svg {
  padding: 3px;
  width: 1.7em;
  height: 1.7em;
  border-radius: 5px;
}
.actions a {
  /* Para consertar desalinhamento estranho dos botões */
  display: inline-flex;
  align-items: center;
}
.edit {
  background-color: var(--persian-green);
}
.delete {
  background-color: var(--delete);
}
.edit:hover {
  background-color: #0e7468;
}
.delete:hover {
  background-color: #911b1b;
}

/* Pesquisa */
.div-search {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 3px;
}
.search-bar {
  flex: 2;

  height: 35px;
  border: 3px solid;
  border-color: var(--onyx);
  border-radius: 5px;
  padding: 4px;
  color: var(--french-gray);
  background-color: var(--eerie-black);

  transition: border-color 0.2s ease-in-out, color 0.2s ease;
}
.search-bar:focus {
  color: var(--magnolia);
  outline: none;
  border-color: var(--dim-gray);
}
.search-bar:hover {
  color: var(--magnolia);
}

.search-button { /* O input botao */
  min-width: 35px;
  width: auto;
  height: 35px;
  color: var(--magnolia);
  background-color: var(--eerie-black);
  border: 3px solid var(--onyx);
  border-radius: 5px;
  cursor: pointer;

  transition: border-color 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
}
.search-button:hover {
  transform: scale(1.1);
  background-color: var(--onyx);
  border-color: var(--eerie-black);
}
.search-button:active {
  transform: scale(1);
}

.after-list {
  margin-top: 4px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.list-results-text {
  flex: 1;

  text-indent: 4px;
  font-weight: bold;
}

.edit-content {
  max-width: 600px;
  max-height: 200px;
  flex-wrap: wrap;
}
.edit-content > section {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.edit-content small {
  color: #222;
  align-self: center;
  margin-right: 5px;
  font-weight: bold;
}

/* --- Footer --- */
footer {
  margin-top: 35px;
  text-align: center;
}
footer a {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}
footer a span {
  font-size: 15px;
  color: var(--magnolia);
  text-shadow: 0px 4px 10px rgba(0,0,0,0.6);
  text-decoration: underline;
}
footer a span:hover {
  color: lightgray;
}
footer a span:active {
  color: lightskyblue;
}
footer svg {
  width: 1.7em;
  height: 1.7em;
  font-size: large;
  border-radius: 50%;
  background-color: var(--magnolia);
  box-shadow: 0px 4px 6px rgba(0,0,0,0.6);
}
footer svg:hover {
  background-color: lightgray;
}